.header {
  background-color: black;
}
h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
p {
  text-align: center;
}
#link {
  font-color: Aquamarine;
  font-size: 16px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.h1p {
  font-family:  Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}
.h1p, p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}
.image {
  height: 100%;
  width: 100%;
}
.center {
  text-align: center;
}
#footer {
  text-align: right;
  color: gray;
}
.
